@import "fonts";
@import "colors";

.text-input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid $red;
  width: 350px;
  height: 50px;

  font-family: $font-body;
  font-weight: 300;
  font-size: $font-size-input;

  &:focus {
    outline: none;
  }
}
