@import "fonts";
@import "colors";

.text-input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid $red;
  width: 350px;
  height: 50px;

  font-family: $font-body;
  font-weight: 300;
  font-size: $font-size-input;

  &:focus {
    outline: none;
  }
}

.AddChore {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: $card-shadow;
  border-bottom: 1px solid transparentize($text-color, 0.8);
}