@import 'fonts';
@import 'colors';

.button {
  padding: 10px 15px;
  font-family: $font-body;
  font-weight: 700;
  border-radius: 30px;
  border: 2px solid $purple;
  background-color: $white;
  margin: 20px 10px 20px 10px;
  transition: .2s ease all;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
  
  &:hover {
    background-color: $purple;
    color: $white;
    cursor: pointer;
    transform: scale(1.1);
  }

  &--call-to-action {
    background-color: $purple;
    color: $white;
  }

  &--back {
    padding: 10px 10px;
    position: relative;
    
    &:before {
      content: "<";
      position: absolute;
      font-size: 14px;
      left: 30%;
      top: 0;
    }
  }

  &--next {
    padding: 10px 10px;
    position: relative;
    
    &:before {
      content: ">";
      position: absolute;
      font-size: 14px;
      left: 30%;
      top: 0;
    }
  }

  &--leaderboard {
    position: fixed;
    right: 100px;
    bottom: 36px;
    font-weight: 700;
    margin: 0;
  }
}