.circle-initials{
  font-size:1em;
  display: inline-block;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  vertical-align:middle;
  margin: 0px;
  margin-right:1em;
  color:white;
}