@import 'colors';

.focused-task-card {
  width: 45%;
  border-radius: 20px;

  .focused-task-content {
    box-shadow: $card-shadow;
    border-radius: 20px;
    h2 {
      margin-top: 0;
    }

    .focused-task-queue {
      list-style-type: none;
      padding: 0;

      .focused-task-queue-item {
        padding: 10px 25px;
        border-radius: 0 20px 0 0;
        border-bottom: 1px solid transparentize($text-color, 0.8);
        &:last-child {
          border-bottom: 0;
          padding-bottom: 20px;
        }
      }
    }

    .focused-task-button {
      border: 0;
      border-radius: 0;
      padding: 10px;
      font-size: 1em;
      box-shadow: $card-shadow;
      cursor: pointer;
    }

    .focused-task-card-name {
      padding: 10px 25px 1px 35px;
      background-color: $red;
      color: $white;
      border-radius: 0 20px 0 0;
    }

    .focused-task-close {
      text-align: right;
      font-size: 1.5em;
      margin: 0;
      margin-bottom: -1.5em;
      padding: 0;

      .focused-task-close-button {
        color: $white;
        text-decoration: none;
      }
    }

    .focused-task-card-desc{
      padding: 10px 20px 0 25px
    }

    .focused-task-button-complete {
      background-color: forestgreen;
      border: 1px solid forestgreen;
      color: $white;
      &:hover {
        color: forestgreen;
        background-color: $white;
      }
    }
    
  }
}