@import "fonts";
@import "colors";

.tool-icon {
  position: relative;
  display: inline-block;
  margin: 5px;

  .info {
    visibility: hidden;
    width: 200px;
    height: auto;
    font-size: 10px;
    font-family: $font-body;
    font-weight: 300;
    padding: 10px;
    bottom: 100%;
    left: 50%;
    text-align: left;
    margin-left: 2px;
    background-color: #fff;
    color: $text-color;
    border-radius: 5px;
    box-shadow: $card-shadow;
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.4s;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }
  }

  &:hover {
    .info {
      visibility: visible;
      opacity: 1;
    }
  }
}
