@import 'colors';
@import 'fonts';

body {
  background-color: $white;
  color: $text-color;
  font-family: $font-body;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: $font-title; 
}

.button {
  padding: 10px 15px;
  font-family: $font-body;
  font-weight: 700;
  border-radius: 30px;
  border: 2px solid $purple;
  background-color: $white;
  margin: 20px 10px 20px 10px;
  transition: .2s ease all;

  &:focus {
    outline: none;
  }
  
  &:hover {
    background-color: $purple;
    color: $white;
    cursor: pointer;
    transform: scale(1.1);
  }

  &--new-group {
    background-color: $purple;
    color: $white;
  }
}