.MyTasks {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .chores-list-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
  }

  &:after {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../img/blue_rect.svg) 100% 0% no-repeat;
    background-size: 30%;
    z-index: -100;
  }

  .my-tasks-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }

  .my-tasks-cards {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .churro-img {
    width: 35px;
    margin-right: 10px;
  }

  .group-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
}

.center {
  text-align: center;
}