@import "fonts";
@import "colors";

.NewGroup {
  .form-title {
    margin: 0;
  }
  .roommates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .roommates-list-container {
    margin-bottom: 20px;
  }

  .roommate-list-item {
    font-weight: 700;
    color: $red;
  }
}

.suggested-chores {
  &:focus {
    outline: none;
  }
  cursor: pointer;

  padding: 7px;
  margin: 5px;
  border-radius: 20px;
  background-color: $blue;
  color: $white;
  font-size: 10px;
  border: 0;
}

.chore-items-container {
  display: flex;
  flex-direction: row;
  width: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

.chore-todo {
  padding: 10px 30px 10px 10px;
  border-radius: 20px;
  background-color: $red;
  color: $white;
  font-size: 12px;
  margin: 5px;
}