@import 'colors';

.task-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;

  .task-card-title {
    margin-top: 20px;
    width: 15%;
  }

  .task-card-list {
    vertical-align:middle;
    margin: 10px;
    background-color: $grey;
    box-shadow: $card-shadow;
    list-style-type: none;
    padding: 20px;
    width: 85%;
  }

  .task-card-item {
    margin: 12px 15px;
    border-bottom: 1px solid transparentize($text-color, 0.8);

    .task-card-check {
      font-size: 2em;
      margin-right: 10px;
      height: 2.5em;
      color: transparentize($text-color, 0.8)
    }

    .task-card-right {
      float: right;

      i {
        font-size: 1.5em;
        vertical-align: middle;
      }

      .task-card-focus-button {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}