@import 'colors';

#completed {
  color: green;
}

.task-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;

  .task-card-title {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: $purple;
    padding: 20px;
    color: $white;
    border-radius: 20px 0 0 0;
  }

  .task-card-list {
    vertical-align:middle;
    margin-top: 0;
    background-color: $white;
    box-shadow: $card-shadow;
    list-style-type: none;
    width: 90%;
    border-radius: 20px;
    padding: 0;
  }

  .task-card-item {
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $grey;

    &:last-child {
      border-bottom: 0;
    }

    .task-card-check {
      font-size: 2em;
      margin-right: 10px;
      color: transparentize($text-color, 0.8)
    }

    .task-card-right {
      position: absolute;
      right: 20px;

      i {
        font-size: 1.5em;
        vertical-align: middle;
      }

      .task-card-focus-button {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}